.sidepadding{

    padding-right: 100px;
    padding-left: 100px;
}

.toppadding{
    padding-top: 40px;
}

.bottompadding{
    padding-bottom: 40px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 30em;
}

.navbar-right{
    margin-right: -60px;
}

.reviewplaceholder{

    width: 500px;
    height: 200px;
    border: solid black;
    background-color: white;
    text-align: center;
    padding-top: 30px;
}

.synopsisplaceholder{

    border: solid black;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.theatreplaceholder{

    border: solid gray;
    background-color: white;
    width: 100%;
    height: 100%;
}


.genretable{
    width: 50%;
}

.spacing{
    padding: 10px;
}

.border{
    border: solid gray;
}

.movieposter{

    width: 100%;
    height: 100%;
}

.movietitle{
    font-size: 40px;
}

.genretitle{
    font-size: 15px;
}
.accountfont{
    font-size: 30px;
}

.itemcenter{
    display: block;
    margin: 0 auto;
    align-items: center;
}

.joinbutton{
    width: 100%;
    text-align: center;
}

.signupform{
    width: 100%;
}

.modal-dialog{

    z-index: 5000;
}

.myFade{

    /*opacity: 0.5;*/
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}


#main-slide .slider-content h2 {
    font-size: 76px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}

#main-slide .slider-content h3 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.slider.btn {
    background-color: #eb7034
}

#main-slide .animated2 strong {
    color: #eb7034;
}

#main-slide .animated4 strong {
    color: #eb7034;
}


.nav-pills > li.active > a{
    background-color: #f27341;
}

.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgb(255, 214, 88);
}

.underline{
    text-decoration: underline;
}

.subheader{
    background-color: #53565b;
}

.fa-heart:hover {
    color: red;
}

.favoriteState{
    color:red;
}

.theatreTimeCardsInfo{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px;
    background-color: #eb7034;
}

.theatreTimeCardsTimes{
    padding: 20px;
    
}


/*review*/
.review{
    background-color:#fff;
    min-height:350px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
    border-radius: 2px;
}

.synopsis{
    background-color:#fff;
    min-width: 600px;
    min-height:350px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
    border-radius: 2px;
}

.theatreTimes{
    background-color:#fff;
    min-width: 600px;
    min-height:160px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
    border-radius: 2px;
}


.footer-widget h4 {
    color: #eee;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 0px; 
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.footer-widget h6 {
    padding-bottom: 10px;
}



#buyticketbutton{

    border: 3px solid #444;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#leavereviewbutton{

    border: 3px solid #444;
    padding: 20px;
    width: 50%;
    text-align: center;
    font-size: 15px;
}



#danfangologo{

    padding: 10px;
}

#moviesheader{

    font-size: 40px;
}

#navbarfont{

    font-size: 100px;
}

#container{
    /*	background-color: lightgray;
    */	background-image: url("images/grey4.jpg");
}
#navbottom{
    border-bottom-color: black;
    border-bottom-width: medium;
}

#search{
    width: 25%;
}

